<!DOCTYPE html>
<html>
    <head>
        <title>Start Page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <script src ="https://code.jquery.com/jquery-2.2.0.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src ="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <!-- Custom components -->
        <script src="javascript/js.js"></script> 
    </head>
    <body>
        
        <div class="col-md-3" ng-app="DataApp" ng-controller="DataController as ctrl">
            
            <table class="table" ng-init="ctrl.getRandomData(100, 'fname, lname, city')">
                
                <thead>
                    
                    <tr>
                        
                        <td>No.</td>
                        <td ng-repeat="(key,val) in ctrl.data[0]">{{key}}</td>
                        
                        
                    </tr>
                </thead>
                <tbody>
                    
                    <tr ng-repeat ="object in ctrl.data">
                        
                        <td>{{$index+1}}</td>
                        
                        <td ng-repeat="(key,val) in object">{{val}}</td>
                        
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
